In [143]:
import pandas as pd

filepath = "C4G Agent Activity Detail.xlsx"
data = pd.read_excel(filepath)
df = pd.DataFrame(data)
data = df.dropna(subset=['Activity Time'])
data = data[:-1]

In [144]:
# s = pd.to_datetime()
# s = pd.to_datetime(data['Activity Time'])
# daydf = s.groupby(s.dt.floor('d')).size().reset_index(name='count')
# from matplotlib import pyplot
# pyplot.hist(daydf['count'])

In [145]:
# s_h = pd.to_datetime(data['Activity Time'])
# hourdf = s_h.groupby(s_h.dt.floor('h')).mean().reset_index(name='count')
# from matplotlib import pyplot
# pyplot.hist(hourdf['count'])

In [146]:
# s = pd.to_datetime(df['Activity Time'])
# daydf = s.groupby(s.dt.floor('d')).size().reset_index(name='count')
# from matplotlib import pyplot
# pyplot.hist(daydf['count'])

# s = pd.to_datetime(df['Call Start Time'])
# daydf = s.groupby(s.dt.floor('d')).size().reset_index(name='count')

In [147]:
### read and clean the data
# dataframe = data
# dataframe = dataframe.dropna(subset=['Activity Time'])

# ## change to datetime
# dataframe['Activity Time'] = pd.to_datetime(dataframe['Activity Time'])

# ### read data by day
# dataframe['Activity Time'] = dataframe['Activity Time'].dt.floor('d')

# ## specify rnage
# start_date = '2019-02-01'
# end_date = '2019-02-02'

# ## create filter
# #mask = (dataframe['Activity Time'] >= start_date) & (dataframe['Activity Time'] < end_date)
# mask = dataframe['Activity Time'] == start_date

# ## apply filter
# dataframe = dataframe.loc[mask]
# act_detail = dataframe.groupby(['Activity Detail']).count()

# ## plot it!
# act_detail['Activity Type'].plot.bar()

In [177]:
### read and clean the data
dataframe = data
dataframe = dataframe.dropna(subset=['Activity Time'])

## change to datetime
dataframe['Activity Time'] = pd.to_datetime(dataframe['Activity Time'])
dataframe['by_hour'] = dataframe['Activity Time'].dt.floor('h')
dataframe['by_day'] = dataframe['Activity Time'].dt.floor('d')

# byday = dataframe['Activity Time'].dt.floor('d')
# byday = byday.rename(columns={"Activity Time":'by day'}, inplace= True)
# byhour = dataframe['Activity Time'].dt.floor('h')

# result = pd.concat([dataframe,byday, byhour], axis=1, sort=False)


# result


#newdf = pd.DataFrame(dataframe['Activity Time'].dt.floor('h'),dataframe['Activity Time'].dt.floor('d'))
# mask =  dataframe['Activity Time'].dt.date
### read data by day
#dataframe['Activity Time'] = dataframe['Activity Time'].dt.floor('h')

# ## specify rnage
#start_date = '2019-02-01'
# end_date = '2019-02-02'

# ## create filter
# #mask = (dataframe['Activity Time'] >= start_date) & (dataframe['Activity Time'] < end_date)
# mask = dataframe['Activity Time'] == start_date
#mask = start_date in dataframe['Activity Time']
# ## apply filter
#dataframe = dataframe.loc[dataframe['Activity Time']== start_date]
# act_detail = dataframe.groupby(['Activity Detail']).count()
# dataframe = dataframe[ dataframe['Activity Time'].dt.date == start_date    ]
# dataframe


newdf = dataframe.loc[ dataframe['by_day'] == '2019-02-02']
byhr = newdf.groupby(['by_hour']).count()
#byhr.plot.bar(alpha=0.5, figsize=(20, 10))
#byhr['Activity Type'].plot.bar()
byhr
# ## plot it!
# act_detail['Activity Type'].plot.bar()

,Agent Name,Activity Time,Activity Type,Activity Detail,Call Type,Callers/Called Number,Number Called,Transfer Number,Transfer Location,Unnamed: 9,by_day
by_hour,,,,,,,,,,,
2019-02-02 00:00:00,7,7,7,7,3,7,1,0,0,0,7
2019-02-02 01:00:00,8,8,8,8,4,8,4,0,0,0,8
2019-02-02 02:00:00,1,1,1,1,0,1,0,0,0,0,1
2019-02-02 03:00:00,7,7,7,7,3,6,1,0,0,0,7
2019-02-02 04:00:00,13,13,13,13,5,12,3,0,0,0,13
2019-02-02 05:00:00,1,1,1,1,1,1,1,0,0,0,1
2019-02-02 06:00:00,7,7,7,7,3,7,2,0,0,0,7
2019-02-02 07:00:00,12,12,12,12,5,12,1,0,0,0,12
2019-02-02 09:00:00,5,5,5,5,3,5,0,0,0,0,5
2019-02-02 10:00:00,57,57,57,57,34,57,12,0,0,0,57
2019-02-02 11:00:00,49,49,49,49,32,47,19,0,0,0,49
2019-02-02 12:00:00,41,41,41,41,26,40,11,0,0,0,41
2019-02-02 13:00:00,13,13,13,13,7,13,3,0,0,0,13
2019-02-02 14:00:00,10,10,10,10,5,10,1,0,0,0,10
2019-02-02 15:00:00,23,23,23,23,19,23,1,0,0,0,23
2019-02-02 16:00:00,48,48,48,48,31,47,11,0,0,0,48
2019-02-02 17:00:00,31,31,31,31,23,31,4,0,0,0,31
2019-02-02 18:00:00,85,85,85,85,46,83,23,0,0,0,85
2019-02-02 19:00:00,18,18,18,18,10,18,3,0,0,0,18
2019-02-02 20:00:00,43,43,43,43,19,38,10,0,0,0,43
2019-02-02 21:00:00,23,23,23,23,13,20,8,0,0,0,23
2019-02-02 22:00:00,35,35,35,35,22,35,9,0,0,0,35
2019-02-02 23:00:00,14,14,14,14,7,12,6,0,0,0,14